# DS-SF-36 | 03 | `pandas` | Assignment | Starter Code

## `pandas` and Bistro

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `pandas` (as `pd`).

In [4]:
import os

import numpy as np

import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-03-bistro.csv` dataset.

In [6]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-bistro.csv'))

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [7]:
type(df)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [12]:
df.shape[0]

244

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [14]:
df.shape[1]

8

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [18]:
for i in df.columns:
    print(i)

day
time
name
gender
is_smoker
party
check
tip

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [20]:
df.head(2)

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [21]:
df.tail(2)

          day    time    name  gender  is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male      False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female      False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [30]:
df.isnull().sum().sum()

0L

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [49]:
df.is_smoker.sum().sum()

0

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [64]:
for i in df.day.unique():
    print i

Sunday
Saturday
Thursday
Friday

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [66]:
df.check.value_counts()

13.42    3
10.33    2
20.29    2
18.29    2
17.92    2
        ..
30.40    1
26.59    1
19.65    1
9.55     1
5.75     1
Name: check, Length: 229, dtype: int64

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [88]:
df[ ['day', 'tip'] ].groupby('day').sum()

             tip
day
Friday     51.96
Saturday  260.40
Sunday    247.39
Thursday  171.83

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [90]:
df[ ['day', 'tip'] ].groupby('day').mean()

               tip
day
Friday    2.734737
Saturday  2.993103
Sunday    3.255132
Thursday  2.771452

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [140]:
 ((df[ ['day', 'tip','check'] ].groupby('day').sum()).tip)/((df[ ['day', 'tip','check'] ].groupby('day').sum()).check)*100

day
Friday      15.944519
Saturday    14.642375
Sunday      15.203791
Thursday    15.673201
dtype: float64

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [167]:
g1 = df[df.gender=='Male'].name
g2 = df[df.gender=='Female'].name
print(np.intersect1d(g1,g2))

['Casey']

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [185]:
 len(df.name.unique())

181

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [216]:
counts = df['name'].value_counts().to_dict()
counts['Kevin']
counts['Alice']

2

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [286]:
male = df[df.gender =='Male']
female = df[df.gender=='Female']
male[ ['day', 'name'] ].groupby('name').count().sort_values('day',ascending = 0).head(3)

       day
name
David    8
James    5
Casey    5

In [285]:
female[ ['day', 'name'] ].groupby('name').count().sort_values('day',ascending = 0).head(3)

       day
name
Mary     4
Laura    3
Casey    3

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [ ]:
# TODO

Answer: TODO